.bg{
    width: 100%;
    height: 100%;
    /* background-color: black; */
    position: absolute;
    padding-top: 100px;
}
.bg .hometext {
    font-size: 30px;
    text-align: center;
    margin: 20px,auto;
    color:black;
}
.content {
    margin-top: 20px;
    height: 100%
}